
<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About </h2>
			<hr>
			<p>
				I am your host, vamsidhar, responsible for just about everything on this site. 
				Senior student from VIT University.I love programming and that is all this blog is all about. I consider myself an experienced beginner. <br><br>
				
				<b>Why do you blog?</b><br>
				Ofcourse for selfish reasons. I needed a way to track my learning.I'll be posting what i learn for myself and some useful resources for better understanding. <br><br>
				
				
			</p>
			

		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I'we Written</h2>
			<hr>

			<% @posts.each do |post| %>

			<h3><a href="#"><%= link_to  post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>

			<% end %>
		</div>
		<div class="col-3 homepage_content">
			<h2>Stuff I'we built</h2>
			<hr>

			<% @projects.each do |project| %>
			<h3>
			<a href="#"><%= link_to  project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %>
			</p>

			<% end %>
		</div>
	</div>